<div class="container">
    <div style="margin-top: 50px;" class="row">
        <div class="col">
            <h2>Create Vehicle</h2>
            <div class="col-md-6">
                <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <mat-form-field>
                        <mat-label>Vehicle number</mat-label>
                        <input type="text" formControlName="number" matInput placeholder="Enter vehicle number here">
                      </mat-form-field>
                    </div>
                    <div class="form-group">
                      <mat-form-field>
                        <mat-label>Vehicle Types</mat-label>
                        <mat-select formControlName="type">
                          <mat-option *ngFor="let type of vehicleTypes" [value]="type">
                            {{type.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <button mat-stroked-button color="primary" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>

    <mat-divider style="margin-top: 20px; margin-bottom: 20px;"></mat-divider>

    <table mat-table [dataSource]="vehicles" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.id}} </td>
      </ng-container>

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> Number </th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.number}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.type.name}} </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Created </th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.created}} </td>
      </ng-container>

      <ng-container matColumnDef="modified">
        <th mat-header-cell *matHeaderCellDef> Modified </th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.modified}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let vehicle">
          <button (click)="delete(vehicle.id)" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
                class="paginator"
                [length]="totalCount"
                [pageIndex]="page"
                [pageSize]="size"
                [pageSizeOptions]="[1, 2, 3, 4]"
                (page)="loadVehicles($event)"
    ></mat-paginator>
</div>
